<h1>Angular Reactive Forms</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="First Name" formControlName="first" style="width:220px; height: 30px; border-radius: 5px; border: solid black 2px;" />
  <br />
  <span style="color: red;font-size: 12px;font-family: 'Courier New', Courier, monospace; " *ngIf=" first?.invalid && first?.touched">
    Please Enter First Name </span>
    <br />

    <input type="text" placeholder="Last Name" formControlName="last" style="width:220px; height: 30px; border-radius: 5px; border: solid black 2px;" />
  <br />
  <span style="color: red;font-size: 12px;font-family: 'Courier New', Courier, monospace;"*ngIf="fnameLnameisEqual()">Name cannot be equal</span>
  <span style="color: red;font-size: 12px;font-family: 'Courier New', Courier, monospace; " *ngIf="last?.invalid && last?.touched">
    Please Enter Last Name </span>
    <br />

  <input type="email" placeholder="Enter Email" formControlName="email" style="width:220px; height: 30px; border-radius: 5px; border: solid black 2px;"/>
  <br />
  <span style="color: red;font-size: 12px;font-family: 'Courier New', Courier, monospace;" *ngIf="email?.invalid && email?.touched">
    Please Enter Your Email</span>
    <br>

    <input type="password" placeholder="Password" formControlName="password" style="width:220px; height: 30px; border-radius: 5px; border: solid black 2px;"/>
    <br />
  <span style="color: red;font-size: 12px;font-family: 'Courier New', Courier, monospace;" *ngIf="password?.invalid && password?.touched"> 
    Please Enter Your Password</span>
      <br>
   
    <input type="password" placeholder="Confirm Password" formControlName="cnfpassword" style="width:220px; height: 30px; border-radius: 5px; border: solid black 2px;"/>
  <br />
  <span style="color: red;font-size: 12px;font-family: 'Courier New', Courier, monospace;" *ngIf="cnfpassword?.invalid && cnfpassword?.touched">
    Please Enter Confirm  Password</span>
  <span style="color: red;font-size: 12px;font-family: 'Courier New', Courier, monospace;" *ngIf="passwordisEqual() ">Password not matche</span>

    <br>
  <button type="submit" style="border:solid blue 1px ; height:40px; width:100px; border-radius: 5px;background-color: lightblue;"[disabled]="loginForm.invalid">Submit</button>
  <span *ngIf=""></span>
</form>